.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.dot {
  background-color: var(--black);
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.text {
  font-family: var(--IBMPlex);
  font-size: 1.6rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

/* For dark sections: <EyeBrow text='…' color='white' /> */
.white .dot {
  background-color: var(--white);
}

.white .text {
  color: var(--white);
}
