.btn {
  position: relative;
  overflow: hidden;
  gap: 2rem;
  padding: 14px 22px;
  border-radius: 50px;
  font-family: var(--CreatoDisplayExtraBold);
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn:link,
.btn:visited {
  color: inherit;
}

.arrow {
  color: inherit;
  transform: rotate(45deg);
}

.black,
.black:link,
.black:visited {
  background-color: var(--black);
  color: var(--white);
}

.white,
.white:link,
.white:visited {
  background-color: var(--white);
  color: var(--black);
}

.gray,
.gray:link,
.gray:visited {
  background-color: var(--light2);
  color: var(--black);
}

.blackUnderline,
.blackUnderline:link,
.blackUnderline:visited {
  background-color: none;
  color: var(--black);
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid var(--black);
  padding-bottom: 7px;
  border-radius: 0;
}

.grayNav,
.grayNav:link,
.grayNav:visited {
  padding: 17px 24px;
  background-color: var(--light);
}

@media (hover: hover) and (pointer: fine) {
  .container:hover .arrow {
    transform: rotate(90deg) translateY(-5px);
  }
}
