.layout {
  z-index: 1000;
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pRightSmall {
  padding-right: 0rem;
}

@media screen and (max-width: 568px) {
  .layout {
    padding-right: 15px;
    padding-left: 15px;
  }
}
