.container {
  padding: 10rem 0rem;
  background-color: var(--white);
  margin: 1rem;
  border-radius: 3rem;
}

/* .content {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
}

.copy {
  text-align: center;
  max-width: 600px;
}
